# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
__pycache__
scripts/view_reconstruction
build
two_views.txt
covariance_rot.txt
cameras.txt
database.db
images.txt
points3D.txt
project.ini
view_reconstruction
log
colmap
demo.gif
output
*.JPG